doctype html
html.js.flexbox.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths(style="height: 100%;")
  head
    include ../common/head.jade
  body
    include ../common/header.jade
    // dropdown navigation responsive nav
    include ../common/menu.jade
    include partners_content.jade
    // global footer
    include ../common/footer.jade
