.span4
  section#dc
    a(href="/solution")
      img(src="/images/home_dc.jpg", alt="解决方案")
    p
      a(href="/solution")
        b 解决方案
        br
        | 
  section#va
    a(href="/about")
      img(src="/images/home_va.jpg", alt="关于我们")
    p
      a(href="/about")
        b 关于我们
        br
        | 
