doctype html
// saved from url=(0026)http://airandspace.si.edu/
html.js.flexbox.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths(style="height: 100%;")
  head
    include head.jade
  body(style="position: relative; min-height: 100%; top: 0px;")
    include header.jade
    // dropdown navigation responsive nav
    #menu-links.primary-menu
      #sitewidewrapper(style="z-index:8000;")
        nav#dropList.container
          ul#menu
            li.level1-li.sub
              a.level1-a.first(href="http://airandspace.si.edu/about")
                | About
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col3
                .listCol.right
                  ul
                    li
                      a(href="http://airandspace.si.edu/about/facts.cfm") Facts and Figures
                    li
                      a(href="http://airandspace.si.edu/about/newsroom/") Newsroom
                    li
                      a(href="http://airandspace.si.edu/about/history/") History
                    li
                      a(href="http://airandspace.si.edu/about/governance/") Organization
                    li
                      a(href="http://airandspace.si.edu/about/contact.cfm") Contact
                    li
                      a.last(href="http://airandspace.si.edu/about/faq.cfm") FAQ
                .listCol.left
                  ul
                    li(style="border-bottom:2px solid #999999;margin-left:5px;color:#000000;text-align:center;") OUR MISSION
                  .extra
                    | The National Air and Space Museum commemorates the history of flight and educates and inspires people through its collections, exhibitions, research, and programs related to aviation, space flight, and planetary studies.
              //if lte IE 6
            li.level1-li.sub
              a.level1-a(href="http://airandspace.si.edu/visit")
                | Visit
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col2
                .listCol
                  ul
                    li
                      a(href="http://airandspace.si.edu/visit/mall/") Museum in DC
                    li
                      a(href="http://airandspace.si.edu/visit/udvar-hazy-center") Udvar-Hazy Center
                    li
                      a(href="http://airandspace.si.edu/visit/educators.cfm") Educators
                    li
                      a(href="http://airandspace.si.edu/visit/families.cfm") Families
                    li
                      a.last(href="https://evansvol.si.edu/custom/505/client/") Group Reservations
              //if lte IE 6
            li.level1-li.sub
              a.level1-a(href="http://airandspace.si.edu/events")
                | Events
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col2
                .listCol
                  ul
                    li
                      a(href="http://airandspace.si.edu/events/calendar/") Calendar of Events
                    li
                      a(href="http://airandspace.si.edu/events/imax-planetarium/") IMAX + Planetarium
                    li
                      a(href="http://airandspace.si.edu/events/family-days/") Family Days
                    li
                      a(href="http://airandspace.si.edu/events/lectures/") Lectures
                    li
                      a(href="http://airandspace.si.edu/events/webcasts.cfm") Webcasts
                    li
                      a(href="http://airandspace.si.edu/events/seminars/") Workshops and Seminars
                    li
                      a(href="http://airandspace.si.edu/events/trophy/") Trophy Award
                    li
                      a.last(href="http://airandspace.si.edu/support/host-an-event/") Host an Event
              //if lte IE 6
            li.level1-li.sub
              a.level1-a(href="http://airandspace.si.edu/exhibitions")
                | Exhibitions
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col2
                .listCol
                  ul
                    li
                      a(href="http://airandspace.si.edu/exhibitions/on-view") On View
                    li
                      a(href="http://airandspace.si.edu/exhibitions/coming") Coming
                    li
                      a(href="http://airandspace.si.edu/exhibitions/online") Online
                    li
                      a.last(href="http://airandspace.si.edu/exhibitions/past") Past
              //if lte IE 6
            li.level1-li.sub
              a.level1-a(href="http://airandspace.si.edu/collections")
                | Collections
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col3
                .listCol.right
                  ul
                    li
                      a(href="http://airandspace.si.edu/collections/about.cfm") About the Collections
                    li
                      a(href="http://airandspace.si.edu/collections/objects.cfm") Objects
                    li
                      a(href="http://airandspace.si.edu/collections/archival/") Archival Collections
                    li
                      a(href="http://airandspace.si.edu/explore-and-learn/multimedia/") Multimedia Gallery
                    li
                      a(href="http://airandspace.si.edu/research/resources/rpif/") Earth &#38; Planetary
                    li
                      a.last(href="http://airandspace.si.edu/collections/preservation-restoration/") Preservation and Restoration
                .listCol.left
                  .extra
                    img(src="./Smithsonian's National Air and Space Museum Home Page_files/collection_search.jpg", width="220", height="110")
                    br
                    br
                    .input-append
                      form.form-inline(action="http://airandspace.si.edu/collections/search/", method="get")
                        input#appendedInputButton.input-medium(type="text", name="q")
                        button.btn.btn-primary(type="submit")
                          img(src="./Smithsonian's National Air and Space Museum Home Page_files/maglass.png", alt="Search")
              //if lte IE 6
            li.level1-li.sub
              a.level1-a(href="http://airandspace.si.edu/research")
                | Research
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col3
                .listCol.right
                  ul
                    li
                      a(href="http://airandspace.si.edu/research/projects/") Projects
                    li
                      a(href="http://airandspace.si.edu/research/aeronautics/") Aeronautics
                    li
                      a(href="http://airandspace.si.edu/research/earth-and-planetary/") Earth and Planetary
                    li
                      a(href="http://airandspace.si.edu/research/space-history/") Space History
                    li
                      a(href="http://airandspace.si.edu/research/publications/") Publications
                    li
                      a(href="http://airandspace.si.edu/research/fellowships/") Fellowships
                    li
                      a(href="http://airandspace.si.edu/research/internships/") Internships
                    li
                      a(href="http://airandspace.si.edu/research/resources/") Resources
                    li
                      a.last(href="http://airandspace.si.edu/research/staff.cfm") Staff
                .listCol.left
                  .listCol.right(style="padding-left:10px;")
                    h3 RESEARCH RESOURCES:
                  .extra
                    .row
                      .span1
                        br
                        a(href="http://airandspace.si.edu/research/resources/archives/")
                          img(src="./Smithsonian's National Air and Space Museum Home Page_files/archives.jpg")
                        br
                        br
                      .span2
                        br
                        a(href="http://airandspace.si.edu/research/resources/archives/") ARCHIVES
                    .row
                      .span1
                        a(href="http://library.si.edu/libraries/air-and-space")
                          img(src="./Smithsonian's National Air and Space Museum Home Page_files/library.jpg")
                        br
                        br
                      .span2
                        a(href="http://library.si.edu/libraries/air-and-space") LIBRARY
                    .row
                      .span1
                        a(href="http://airandspace.si.edu/research/resources/rpif/")
                          img(src="./Smithsonian's National Air and Space Museum Home Page_files/rpif.jpg")
                        br
                        br
                      .span2
                        a(href="http://airandspace.si.edu/research/resources/rpif/") REGIONAL PLANETARY IMAGE FACILITY
              //if lte IE 6
            li.level1-li.sub
              a.level1-a(href="http://airandspace.si.edu/support")
                | Support
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col2
                .listCol
                  ul
                    li
                      a(href="https://airandspace.si.edu/support/donate/") Donate
                    li
                      a(href="http://airandspace.si.edu/support/wall-of-honor/index.cfm") Wall of Honor
                    li
                      a(href="http://airandspace.si.edu/support/membership/") Membership
                    li
                      a(href="http://airandspace.si.edu/support/ways-to-give/") Ways to Give
                    li
                      a(href="http://airandspace.si.edu/support/volunteer/") Volunteer
                    li
                      a.last(href="http://airandspace.si.edu/support/corporate/index.cfm") Corporate Giving
              //if lte IE 6
            li.level1-li.sub
              a.level1-a(href="http://airandspace.si.edu/explore-and-learn")
                | Explore &#38; Learn
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col3.left1
                .listCol.right
                  ul
                    li
                      a(href="http://airandspace.si.edu/explore-and-learn/multimedia/") Multimedia Gallery
                    li
                      a(href="http://airandspace.si.edu/explore-and-learn/collection.cfm") The Collection
                    li
                      a(href="http://airandspace.si.edu/explore-and-learn/online.cfm") Events &#38; Activities
                    li
                      a(href="http://airandspace.si.edu/explore-and-learn/educator-resources/") Educator Resources
                    li
                      a(href="http://airandspace.si.edu/explore-and-learn/get-involved/") Get Involved
                    li
                      a.last(href="http://airandspace.si.edu/explore-and-learn/topics/") Popular Topics
                .listCol.left
                  .extra
                    a(href="http://airandspace.si.edu/explore-and-learn/topics/wright-brothers.cfm")
                      img(src="./Smithsonian's National Air and Space Museum Home Page_files/wright-brothers.jpg")
                    br
                    br
                    h4 HIGHLIGHTED TOPIC:
                    a(href="http://airandspace.si.edu/explore-and-learn/topics/wright-brothers.cfm") THE WRIGHT BROTHERS
                  .clear
                  .listCol.right(style="padding-left:10px;")
                    a(href="http://airandspace.si.edu/explore-and-learn/topics/") More Topics &#62;&#62;
                    br
                    br
              //if lte IE 6
            li.level1-li.sub
              a.level1-a(href="http://airandspace.si.edu/connect")
                | Connect
                // [if gte IE 7] <!
              // <![endif]
              //if lte IE 6
                table
                  tr
                    td
              .listHolder.col3.left1
                .listCol.right
                  ul
                    li
                      a(href="http://airandspace.si.edu/connect/socials/") Socials
                    li
                      a(href="http://blog.nasm.si.edu/") Blog
                    li
                      a.last(href="http://airandspace.si.edu/about/newsroom/e-newsletter.cfm") E-Newsletter
                .listCol.left
                  .extra
                    a(href="https://www.facebook.com/airandspace")
                      img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_fb.gif", alt="Facebook")
                    a(href="https://twitter.com/airandspace")
                      img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_tw.gif", alt="Twitter")
                    a(href="http://www.flickr.com/photos/airandspace")
                      img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_fr.gif", alt="Flickr")
                    a(href="http://www.youtube.com/airandspace")
                      img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_yt.gif", alt="Youtube")
                    a(href="http://pinterest.com/airandspace/")
                      img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_pin.gif", alt="Pinterest")
                    br
                    br
                    div(style="padding-top:4px;")
                      a(href="https://plus.google.com/b/101098533768380152342/+airandspace/posts")
                        img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_gp.gif", alt="Google+")
                      a(href="http://instagram.com/airandspacemuseum")
                        img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_in.gif", alt="Instagram")
                      a(href="http://blog.nasm.si.edu/")
                        img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_blog.gif", alt="Blog")
                      a(href="http://airandspace.si.edu/about/newsroom/e-newsletter.cfm")
                        img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_enews.gif", alt="enewsletter")
                      a(href="https://foursquare.com/airandspace")
                        img(src="./Smithsonian's National Air and Space Museum Home Page_files/social_4s.gif", alt="FourSquare")
                      br
                      br
                    a(href="http://airandspace.si.edu/connect/") CONNECT
                    | with us.
      //if lte IE 6
    // content begins
    .container(style="\
    height: 350px;\
    ")
      .row
        //- home slideshow
        include homeslideshow.jade
        //- right two section 
        include homeright2section.jade
    // global footer
    include footer.jade             
