footer.globalfooter
  .container
    .visible-phone
      #accordion2.accordion.footer-bg
        .accordion-group
          .accordion-heading
            a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="http://airandspace.si.edu/#collapseOne")
              | Locations
          #collapseOne.accordion-body.collapse
            .accordion-inner
              p
                span.footerheader
                  a(href="http://airandspace.si.edu/visit/mall/") National &#160;Air &#160;and &#160;Space &#160;Museum
                a(href="http://airandspace.si.edu/visit/mall/")
                  br
                  | Independence Ave at 6th St, SW
                  br
                  | Washington, DC 20560
                a(href="tel:+12026332214") 202-633-2214
                br
                | Today"s Hours: 10am &#8211; 5:30pm
              p
                span.footerheader
                  a(href="http://airandspace.si.edu/visit/udvar-hazy-center/") Steven &#160;&#160;F. &#160;Udvar-Hazy&#160;&#160;Center
                a(href="http://airandspace.si.edu/visit/udvar-hazy-center/")
                  br
                  | 14390 Air and Space Museum Parkway
                  br
                  | Chantilly, VA 20151
                br
                a(href="tel:+17035724118") 703-572-4118
                br
                | Today"s Hours: 10am &#8211; 5:30pm
        .accordion-group
          .accordion-heading
            a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="http://airandspace.si.edu/#collapseTwo")
              | About Us
          #collapseTwo.accordion-body.collapse
            .accordion-inner
              p
                a(href="http://airandspace.si.edu/about/newsroom/") Newsroom
                br
                a(href="http://airandspace.si.edu/about/faq.cfm") FAQs
                br
                a(href="http://www.si.edu/privacy/") Privacy
                br
                a(href="http://www.si.edu/termsofuse/") Terms of Use
                br
                a(href="http://airandspace.si.edu/about/contact.cfm") Contact Us
                br
                a(href="http://www.si.edu/", target="_blank") Smithsonian Institution
                br
                a(href="http://blog.nasm.si.edu/") Blog
                br
                a(href="http://airandspace.si.edu/visit/mall/museum-store.cfm") Shop
                br
                a(href="http://www.ustream.tv/channel/smithsonian-national-air-and-space-museum") Ustream
                br
                a(href="http://m.nasm.si.edu/") Mobile
                br
                a(href="http://airandspace.si.edu/about/newsroom/e-newsletter.cfm") E-Newsletter
        .accordion-group
          .accordion-heading
            a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="http://airandspace.si.edu/#collapseThree")
              | Get Involved
          #collapseThree.accordion-body.collapse
            .accordion-inner
              p
                a(href="https://airandspace.si.edu/support/donate/") Donate
                br
                a(href="http://airandspace.si.edu/support/membership/") Membership
                br
                a(href="http://www.sihr.si.edu/", target="_blank") Jobs
                br
                a(href="http://airandspace.si.edu/explore-and-learn/get-involved/", target="_blank") Student Jobs
                br
                a(href="http://airandspace.si.edu/support/volunteer/internships.cfm") Internships
                br
                a(href="http://airandspace.si.edu/research/fellowships/") Fellowships
                br
                a(href="http://airandspace.si.edu/support/volunteer/") Volunteer
      p
        a(href="http://airandspace.si.edu/visit/families.cfm") Families&#160; |
        a(href="http://airandspace.si.edu/visit/educators.cfm") Educators
    .row.hidden-phone
      .span5
        p
          span.footerheader
            a(href="http://airandspace.si.edu/visit/mall/") National &#160;&#160;Air &#160;&#160;and &#160;&#160;Space &#160;&#160;Museum
          a(href="http://airandspace.si.edu/visit/mall/")
            br
            | Independence Ave at 6th St, SW
            br
            | Washington, DC 20560
          br
          a(href="tel:+12026332214") 202-633-2214
          br
          | Today"s Hours: 10am &#8211; 5:30pm
        p
          span.footerheader
            a(href="http://airandspace.si.edu/visit/udvar-hazy-center/") Steven &#160;&#160;F. &#160;Udvar-Hazy&#160;&#160;Center
          a(href="http://airandspace.si.edu/visit/udvar-hazy-center/")
            br
            | 14390 Air and Space Museum Parkway
            br
            | Chantilly VA 20151
          br
          a(href="tel:+17035724118") 703-572-4118
          br
          | Today"s Hours: 10am &#8211; 5:30pm
      .span7
        .row
          .span2
            p
              a(href="http://airandspace.si.edu/about/newsroom/") Newsroom
              br
              a(href="http://airandspace.si.edu/about/faq.cfm") FAQs
              br
              a(href="http://www.si.edu/privacy/") Privacy
              br
              a(href="http://www.si.edu/termsofuse/") Terms of Use
              br
              a(href="http://airandspace.si.edu/about/contact.cfm") Contact Us
              br
              a(href="http://www.si.edu/", target="_blank") Smithsonian Institution
          .span2
            p
              a(href="https://airandspace.si.edu/support/donate/") Donate
              br
              a(href="http://airandspace.si.edu/support/membership/") Membership
              br
              a(href="http://www.sihr.si.edu/", target="_blank") Jobs
              br
              a(href="http://airandspace.si.edu/explore-and-learn/get-involved/", target="_blank") Student Jobs
              br
              a(href="http://airandspace.si.edu/support/volunteer/internships.cfm") Internships
              br
              a(href="http://airandspace.si.edu/research/fellowships/") Fellowships
              br
              a(href="http://airandspace.si.edu/support/volunteer/") Volunteer
          .span3 
            p
              a(href="http://blog.nasm.si.edu/") Blog
              br
              a(href="http://airandspace.si.edu/visit/mall/museum-store.cfm") Shop
              br
              a(href="http://www.ustream.tv/channel/smithsonian-national-air-and-space-museum") Ustream
              br
              a(href="http://m.nasm.si.edu/") Mobile
              br
              a(href="http://airandspace.si.edu/about/newsroom/e-newsletter.cfm") E-Newsletter
              br
              a(href="http://airandspace.si.edu/visit/families.cfm") Families
              br
              a(href="http://airandspace.si.edu/visit/educators.cfm") Educators
footer.taglinefooter
  .container.tagline
    p
      | TSS Home Page.
      a(href="/content") Content Us.
