meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
title TSS"s Home Page
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=yes")
link(rel="stylesheet", href="/style/bootstrap.css", media="screen")
link(rel="stylesheet", href="/style/extras.css", media="screen")
link(rel="stylesheet", href="/style/bootstrap-responsive.css", media="screen")
link(rel="stylesheet", href="/style/print.css", media="print")
link(rel="shortcut icon", href="/favicon.ico")
//if lt IE 9
  link(rel="stylesheet", type="text/css", href="/style/ie7-and-down.css", media="screen")
meta(name="description", content="Official website of TSS")
meta(property="og:description", content="Official website of TSS")
meta(name="robots", content="index,follow")
script(src="/js/modernizr-1.7.min.js")
script(src="/js/jquery.js")
script(src="/js/bootstrap.js")
script(src="/js/jquery.easing.js")
script(src="/js/script.js")
script(src="/js/ui.js")
script(type='text/javascript').
  $(document).bind("mobileinit", function(){ $.mobile.ajaxEnabled = false })
script(type='text/javascript').
  $('.carousel').carousel({ interval: 6000 })
